*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background: url('img/background.jpg');
    color:white;
}
.header
{
    height: 100vh;
}
.navbar-style
{
    box-shadow: 0 5px 10px violet;
    text-transform: uppercase;
}
.logo
{
    height: 48px;
    padding: 2px 10px;
}
.icon-bar
{
    background: white;
}

li a
{
    color: white;
}
.big-text
{
    font-size: 30px;
    margin: 20px 0;
    color: white;
}
a.btn
{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

a.btn-first
{
    background-color: black;
    color: wheat;
}
a.btn-second
{
    background: black;
    border: 1px solid black;
    color: wheat;
}
a.btn:hover
{
    background:blue;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}
.banner-info, .banner-image
{
    margin: 30px 0;
}